.main-menu-button{
    width: 100%;
    height: 350px;
    word-wrap: break-word;
    font-size: 30px;
    border: none;
    background-color: #2e3133;
    color: #fff;
  }
  .main-menu-button:focus, .main-menu-button:hover{
    
    background-color: #027777;
    border: none;
    color: #fff;
  }
  .main-menu-col{
    width: 20%;
  }

  .main-button-row{
    justify-content: center;
    margin: 0;
    top: 50%;
    transform: translate(0,-50%);
    position: absolute;
    width: 99%;
  }
